
.login-card {
    width: 350px;
    height: auto;
    display: flex;
    /* justify-content: center; */
    border-radius: var(--border-radius);
    border: var(--border-light);
    background-color: rgba(255,255,255,0.002);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    margin: 0 auto;
}
.login-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 20px 10px 20px;
}
.login-title h1 {
    color: var(--color-title)
}

.login-google-button {
    border: var(--border-light);
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: var(--border-radius);
    max-height: 44px;
}

.login-google-button img {
    width: 17px;
    height: 17px;
}

.login-google-button p {
    color: var(--text-color-dark)
}

.login-or-text {
    color: var(--text-color-dark);
    line-height: 5px;
}

.login-email {
    border: 2px solid #eeb8fa;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: var(--border-radius)
}


.login-inputs {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}
.forgot-pass {
    margin-right: auto;
}

.forgot-pass:hover {
    text-decoration: underline;
    cursor: pointer;
}

.login-button {
    border: var(--border-light);
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: var(--border-radius);
    max-height: 44px;
    background-color: var(--color-a);
    color: var(--text-color-dark)
}

.create-account:hover {
    text-decoration: underline;
    cursor: pointer;
}